.projectsSection {
    margin-top: 160px;
    padding: 0 20px;
}

.list {

    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    transition: var(--default-transition);
}

.item {
    border-radius: var(--border-radius__img);
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 20px rgba(var(--rgb-text-color), 0.1);
    transition: var(--default-transition) ;
    transition-timing-function: ease-in-out;
}

.title {
    color: var(--first-color);
    padding: 20px;
    position: absolute;
    top: -100%;
    left: 0;
    font-size: var(--text__lg);
    transition: var(--default-transition) ;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.description {
    padding: 20px;
    position: absolute;
    width: 100%;
    left: -100%;
    font-size: var(--text__med);
    transition: var(--default-transition) ;
    transition-timing-function: ease-in-out;
}



.item>img {
    transition: var(--default-transition) ;
    transition-timing-function: ease-in-out;
}


.fadeOut{
    opacity: 0;
    transform: scale(0);
    transition:.4s;
}
.fadeIn{
    transform: scale(1);
    opacity: 1;
    transition:.4s;
}


@media (pointer: coarse) {
    .title {
        top: 0%;
        left: 0;
    }

    .description {
        left: 0%;
        bottom: 0;
    }
    .item>img {
        filter: contrast(50%) brightness(20%);
    }
}


@media (hover: hover) and (pointer: fine) {
    .title {
        top: -100%;
        left: 0;
    }

    .description {
        left: -100%;
    }
    .item:hover>.title {
        background: rgba(var(--rgb-second-color), 0.9);
        top: 0%;
        transition-delay: .2s;
    }

    .item:hover>.description {
        background: rgba(var(--rgb-third-color), 0.9);
        left: 0%;
        bottom: 0;
        transition-delay: .8s;
        transform: translateY(0%);
    }

    .item:hover>img {
        filter: blur(4px) grayscale(90%);
    }

    .link:hover::before{
        top:100%;
        width: 150px;
        right: 20px;
        transition: top .4s, right .4s .1s, width .4s .2s ;
    }
    .link:hover::after{
        top:0%;
        width: 150px;
        height: 2px;
        right: 20px;
        border: 0px solid transparent;
        background: rgba(var(--rgb-first-color), 1);
        transition: all .1s, top .4s, right .4s .1s, width .4s .2s  ;
    }
    .link:hover{
        letter-spacing: 1px;
        transition: .4s .4s  ;
    }
}