.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}
.title {
    width: 100%;
    text-align: center;
    font-size: var(--title__lg);
}

.img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.description {
    font-size: var(--text__lg);
}

.otherProjectsTitle{
    margin-top: 160px;
}
.typeName{
    margin-top: 30px;
    font-size: var(--text__lg);
}

.link{
    margin-top: 70px;
    float: inline-end;
}